body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Event {
  display: block;
  height: 250px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: #000;
}

.Event > img {
  transform: translateY(-25%);
}

.Event_Description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(0,0,0,.5);
  color: #fff;
  width: 100%;
  font-size: 21px;
}

.changeLang {
  cursor: pointer;
}

.changeLang_active {
  text-decoration: underline;
}

.Header__Cell {
  float: left;
  width: 30%;
}